{% extends 'base.html' %}

{% block title %}Info{% endblock %}


{% block head %}
  {{ super() }}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/info.css') }}">
{% endblock %}





{% block onmain %}
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1 class="display-1 ">Варіанти вирішення проблеми? </h1>
    </div>
    <hr class="m-0" />
    <br><br>
     <h2>Э три основні категорії рішень:</h2><br>
    <ul>
      <li><h5>Енергетична</h3></li>
      <li><h5>Технологічна</h5></li>
      <li><h5>Архітектурна</h5></li>
    </ul>
    </div>

  <div class="container">
    <div class="d-flex justify-content-center">
      <h2 class="display-1 ">Енергетична </h2>
    </div>
    <hr class="m-0" />
    <br><br>
    <p>Перехід майнерів на т.зв. "зелену енергію" - відновлювані джерела енергії, такі як вітер, сонце та вода. Але через непередбачуваність і циклічність роботи цих джерел потрібно також вирішити питання з надійним та ефективним акумулюванням енергії.</p>
          <figure class="bg-white p-3 rounded" style="border-left: .25rem solid #f68e9d;">
          <blockquote class="blockquote pb-2">
            <p>
              Якщо це зелена електрика, і вона не витісняє інші види використання, зрештою, можливо, це нормально.
            </p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 font-italic">
            Білл Гейтс у розмові з журналістом Ендрю Соркіном
          </figcaption>
        </figure>
    </div>

  <div class="container">
    <div class="d-flex justify-content-center">
      <h2 class="display-1 ">Технологічна </h2>
    </div>
    <hr class="m-0" />
    <br><br>
    <p>Зниження енерговитратності обладнання для майнінгу за рахунок застосування нових технологій. Іншими словами, ефективніші чіпи майнерів знизять споживання енергії.</p>

<p>Крім цього, використання природного охолодження майнінгового обладнання - проточна природна вода, розміщення в місцях з низькою температурою повітря - полярні райони та ін.</p>

<p>Також можливе використання тепла, що виділяється майнінговим обладнанням, для побутових цілей – обігріву житла або теплиць. Це призведе до зменшення викидів вуглецю котельними та теплопунктами, що працюють на вугіллі та вуглеводневому паливі.</p>
    </div>

  <div class="container">
    <div class="d-flex justify-content-center">
      <h2 class="display-1 ">Архітектурна </h2>
    </div>
    <hr class="m-0" />
    <br><br>
    <p>Proof-of-Work був першим алгоритмом консенсусу, якому вдалося зарекомендувати свою надійність, але це єдиний відомий алгоритм консенсусу. В останні роки розробляються більш енергоефективні алгоритми, такі як доказ частки володіння Proof-of-Stake (PoS). У цьому консенсусному алгоритмі блоки створюють власники монет, що у т.зв. стейки, а не майнери. Тим самим не потрібне енергоємне обчислювальне обладнання. Тому споживання енергії PoS значно менше, ніж PoW.</p>
    <br>
    <p class="text-decoration-underline">Відмова від принципу PoW та подібних є найефективнішим способом вирішення проблеми</p>
    </div>




{% endblock %}