{% extends 'base.html' %}

{% block title %}Головна{% endblock %}


{% block head %}
  {{ super() }}

    <!-- CHARTS.JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}





{% block onmain%}


  <!--Main layout-->
    <div class="container">
      <!--Section: News of the day-->
      <section class="border-bottom pb-4 mb-5">
        <div class="row gx-5">
          <div class="col-md-6 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
              <img src="https://i.etsystatic.com/11603536/r/il/834030/1426442143/il_fullxfull.1426442143_jjt8.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Найшкідливіший</span>
            <h4><strong>Біткоін</strong></h4>
            <p class="text-muted">
              Біткоїн - це найпопулярніша в світі криптовалюта. Вона не має купюр, її неможливо взяти в руки, оскільки вона повністю базується на криптографічних методах.Її найважливіший принцип - повна децентралізація, у неї нема центрального адміністратора, вона непідвласна фінансовим регуляторам та банкам. Цим біткоїн радикально різниться від будь-якої платіжної одиниці в світі.
              <br><br>
              Але також є область, про яку не часто говорять, обговорюючи криптовалюту — екологічність самого виробництва криптовалют — майнінг. Скільки електроенергії споживають майнери і чи не призведуть вони планету до катастрофи в гонитві за биткоіном, що нестримно зростає.
            </p>
            <a class="btn btn-primary" href="{{url_for('info')}}">Чому це так шкідливо?</a>
          </div>
        </div>
      </section>
      <!--Section: News of the day-->

      <!--Section: Content-->
      <section>
      <div class="d-flex justify-content-center">
          <figure class="text-center">
            <blockquote class="blockquote">
              <h1 class="display-1 ">Приклади аналогічних систем </h1>
            </blockquote>
            <figcaption class="blockquote-footer">
              Системи які використовують принцип <cite title="Source Title"><a class="text-decoration-underline" href="https://uk.wikipedia.org/wiki/%D0%94%D0%BE%D0%BA%D0%B0%D0%B7_%D0%B2%D0%B8%D0%BA%D0%BE%D0%BD%D0%B0%D0%BD%D0%BE%D1%97_%D1%80%D0%BE%D0%B1%D0%BE%D1%82%D0%B8">PoW</a></cite>
            </figcaption>
          </figure>
      </div>
      <br><br>
        <div class="row gx-lg-5">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <!-- News block -->
            <div>
              <!-- Featured image -->
              <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/ETHEREUM-YOUTUBE-PROFILE-PIC.png" class="img-fluid" />
                <a target="_blank" href="https://uk.wikipedia.org/wiki/Ethereum">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>

              <!-- Article data -->
              <div class="row mb-3">
                <div class="col-6">
                  <a href="" class="text-info">
                    <i class="fas fa-code"></i>
                    ETH
                  </a>
                </div>

                <div class="col-6 text-end">
                  <u> {{date}}</u>
                </div>
              </div>

              <!-- Article title and description -->
              <a target="_blank" href="https://uk.wikipedia.org/wiki/Ethereum" class="text-dark">
                <h5>Etherium</h5>

                <p>
                  Друга за капіталізацією криптовалюта після Біткоіну. Ethereum, Етеріум, — крипто-валюта та платформа для створення децентралізованих онлайн-сервісів на базі блокчейна, що працюють на базі розумних контрактів. Реалізована як єдина децентралізована віртуальна машина <br><br> Проте використовує систему на основі шкідливого -  <b>PoW</b>
                  <br><br><p class="note note-warning">
  <strong>Проте:</strong> Кожна транзакція обробленна майнерами, обладнання яких створює колосальні викиди в атмосферу.
</p>
                </p>
              </a>

              <hr />



            </div>
            <!-- News block -->
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <!-- News block -->
            <div>
              <!-- Featured image -->
              <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4" data-mdb-ripple-color="light">
                <img src="https://logowik.com/content/uploads/images/monero-coin-xmr5832.jpg" class="img-fluid" />
                <a target="_blank" href="https://uk.wikipedia.org/wiki/Monero">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>

              <!-- Article data -->
              <div class="row mb-3">
                <div class="col-6">
                  <a href="" class="text-danger">
                    <i class="fas fa-code"></i>
                    XMR
                  </a>
                </div>

                <div class="col-6 text-end">
                  <u> {{date}}</u>
                </div>
              </div>

              <!-- Article title and description -->
              <a target="_blank" href="https://uk.wikipedia.org/wiki/Monero" class="text-dark">
                <h5>Monero</h5>

                <p>
                  Monero — криптовалюта з відкритим вихідним кодом, призначена для анонімних грошових транзакцій. На відміну від Біткойна, Monero використовує протокол CryptoNote, завдяки якому відбувається обфускація транзакцій. За даними на грудень 2017 року, Monero входить у десятку криптовалют з найвищою ринковою капіталізацією. <br><br> Проте використовує систему на основі шкідливого -  <b>PoW</b>
                  <br><br><p class="note note-warning">
  <strong>Проте:</strong> Кожна транзакція обробленна майнерами, обладнання яких створює колосальні викиди в атмосферу.
</p>
                </p>
              </a>

              <hr />

            </div>
            <!-- News block -->
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <!-- News block -->
            <div>
              <!-- Featured image -->
              <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4" data-mdb-ripple-color="light">
                <img src="https://www.servethehome.com/wp-content/uploads/2017/02/Zcash-Logo-for-STH.png" class="img-fluid" />
                <a target="_blank" href="https://uk.wikipedia.org/wiki/Zcash">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>

              <!-- Article data -->
              <div class="row mb-3">
                <div class="col-6">
                  <a href="" class="text-warning">
                    <i class="fas fa-code"></i>
                    ZEC
                  </a>
                </div>

                <div class="col-6 text-end">
                  <u> {{date}}</u>
                </div>
              </div>

              <!-- Article title and description -->
              <a target="_blank" href="https://uk.wikipedia.org/wiki/Zcash" class="text-dark">
                <h5>Zcash</h5>

                <p>
                  Zcash — криптовалюта з відкритим вихідним кодом, розроблена компанією Zerocoin Electric Coin Company, що забезпечує конфіденційність і вибіркову прозорість транзакцій. Платежі Zcash публікуються в загальнодоступному ланцюжку блоків, але відправник, одержувач та сума транзакції залишаються приватними. <br><br> Проте використовує систему на основі шкідливого -  <b>PoW</b>
                  <br><br><p class="note note-warning">
  <strong>Проте:</strong> Кожна транзакція обробленна майнерами, обладнання яких створює колосальні викиди в атмосферу.
</p>
                </p>
              </a>

              <hr />


            </div>
            <!-- News block -->
          </div>
        </div>


    <!-- Charts block -->
    <h1>Динаміка зміни викидів CO2 при роботі Bitcoin:</h1>
    <div><canvas id="myChart"></canvas></div>
    <script>
      const labels = JSON.parse('{{ chart_labels | tojson }}')
      const data = {
        labels: labels,
        datasets: [{
          label: 'BTC CO2 / початок місяця',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: JSON.parse('{{ chart_data | tojson }}'),
        }]
      };

      const config = {
        type: 'line',
        data: data,
        options: {}
      };

      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );

    </script>
      </section>
      <!--Section: Content-->


    </div>
  <!--Main layout-->



{% endblock %}